# Auth Service Configuration
PORT=4002
NODE_ENV=development

# Security
JWT_SECRET=justchill
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=refreshsecret
REFRESH_TOKEN_EXPIRES_IN=7d

# CORS
ALLOWED_ORIGINS=*

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Downstream Services
USER_SERVICE_URL=http://localhost:3002/api/v1/user
GARAGE_SERVICE_URL=http://localhost:3002/api/v1/garage
MECHANIC_SERVICE_URL=http://localhost:3002/api/v1/mechanic

# Twilio Configuration (for OTP)
TWILIO_SID=ACc5e180f7b761158b39d43fb263c463e5
TWILIO_AUTH_TOKEN=7d303e8ac2b91a9994f60f666562e340
TWILIO_PHONE=+18146878564
