# User Service Configuration
PORT=3002
NODE_ENV=development

# Database
MONGO_URI=mongodb://localhost:27017/e-mistiri

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dtmjsewwi
CLOUDINARY_API_KEY=937326958353982
CLOUDINARY_API_SECRET=hl7dTRqv4ePRB0AhqHio-jKUJvA

CLOUD_NAME=dtmjsewwi
CLOUD_API_KEY=937326958353982
CLOUD_API_SECRET=hl7dTRqv4ePRB0AhqHio-jKUJvA